.container
  .row
    %h3 Users
    .column
      .table-responsive
        %table.table.table-hover.table-condensed
          %tbody
            - @users.each do |user|
              %tr
                = render user
