.container
  .row
    %h3 Home
    .jumbotron
      - if current_user.nil?
        %p Please sign up or sign in to access Carrier Data
        = button_to 'Login', user_session_path, method: 'get', class: 'btn btn-primary btn-lg'
      - else
        %p Please use the Menu bar above to access content